h1 {
    display: block;
    color: red;
    margin:0 auto;
    
}

.gg {
    display: block;
    margin: 0 auto;
}

.color {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    color: red;
}